<%= render(TitleComponent.new) do %>
  土壌湿度記録
<% end %>
<table>
  <tr>
    <th>ID</th>
    <th>土壌湿度</th>
    <th>記録日時</th>
  </tr>
  <%= render(CultivationRecordComponent.with_collection(@cultivation_records)) %>
</table>
