<div class="flex w-full bg-green-500 h-16">
  <div class="p-6">
    さいばいしたい
  </div>
  <div class="p-4 ml-96">
    <%= image_tag("remozo.png", size: '60x60') %>
  </div>
</div>
<div class="flex w-full justify-center bg-green-500 p-3">
  <div class="w-1/4 flex flex-col items-center select-none">
    <i class="fas fa-home fa-2x"></i>
    <p class="font-semibold text-xs">トップ</p>
  </div>
  <div class="w-1/4 flex flex-col items-center select-none">
    <i class="fas fa-question fa-2x"></i>
    <p class="font-semibold text-xs">hoge</p>
  </div>
  <div class="w-1/4 flex flex-col items-center select-none">
    <i class="fas fa-question fa-2x"></i>
    <p class="font-semibold text-xs">fuga</p>
  </div>
</div>
